.button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  button {
    &:hover {
      background-color: #aef3e3;
      cursor: pointer;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: none;
    color: #1ba089;

    padding: 17px 26px;
    border-radius: 53px;
    background-color: #edfaf7;
    color: #1ba089;

    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}
