.completed {
  margin: 55px 0 0 75px;
  width: 420px;
  height: 166px;
  background-color: white;
  padding: 33px 35px 33px 35px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  span {
    font-family: Roboto;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
  }
}
