.header {
  padding: 27px 67px 27px 37px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
  }
  &__profile {
    display: flex;
    align-items: center;
    &-avatar {
      margin-right: 18px;
      text-align: center;
      width: 50px;
      height: 50px;
      background: #ffffff;
      border: 3px solid #e2e7f5;
      box-sizing: border-box;
      border-radius: 25px;
    }

    &-info {
      &--userName {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 5px;
      }
      &--status {
        font-size: 14px;
        line-height: 16px;
        font-family: Roboto;
        color: #828694;
        margin-right: 50px;
      }
    }
  }
}
