.tasks {
  &--tasks-info {
    width: 700px;
    margin: 30px auto;
  }

  &__info {
    &-title {
      h4 {
        font-size: 22px;
      }

      &--status {
        font-weight: bold;
        margin-left: 3px;
      }
    }
  }

  &__list {
    &-task {
      margin-top: 0;
    }
  }

  &__link {
    margin-top: 20px;
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    a {
      color: #07a287;
      text-decoration: none;
    }
  }
  &__author-comments {
    margin-top: 20px;

    ul {
      li {
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #45464a;
        margin-top: 10px;
      }
    }
  }

  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__conversation {
    h2 {
      margin-top: 50px;
      margin-bottom: 24px;
    }
    &-comment {
      margin: 18px 0px 50px 0px;
      p {
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
      }
    }
  }
  &__addComment {
    textarea {
      padding: 20px;
      font-family: Roboto;
      width: 631px;
      height: 96px;
      border: none;
      background: #f8f8f8;
      outline: none;
      border: solid 1px #f2f2f2;
      font-family: Roboto;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
